@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fffafa; 
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #0e0907; 
}

header {
    background-color: #0e0907;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    position: relative;
    z-index: 1000;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 23px;
    color: #000000c5;
    font-style: normal;
}

h1 {
    text-align: center; 
    font-size: 40px;
    color: #0e0907; /* Preto profundo */
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.logo {
    cursor: pointer;
    width: 6%;
}

.nav-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav_links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav_links li {
    display: inline-block;
    padding: 0 10px;
}

.nav_links li a {
	color: #ffffff;
    font-size: 24px;
    padding: 10px 15px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.nav_links li a:hover {
    color: #dd781c; /* Laranja escuro */color: #fd9320;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #db512f;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 50%; 
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 50px; 
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-to-top:hover {
    background-color: darkorange;
}

.botao-enviar {
    background-color: #333; /* Cor de fundo do botão */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Bordas arredondadas para o botão */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-enviar:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    background-color: #db512f; /* Cor de fundo do botão */
    color: white; /* Cor do ícone (ou texto) do botão */
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu-toggle:hover {
    background-color: #fd9320; /* Cor ao passar o mouse */
}

main {
    padding: 20px;
}

.intro {
	background-color: #f69f4f; /* Cor de fundo laranja claro */
    color: white;
    padding: 50px 20px;
    margin-bottom: 40px;
    border-radius: 15px;
    text-align: center;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.intro-title {
    font-size: 5em;
    margin-bottom: 5px; /* Reduzido para diminuir o espaço */
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.intro-subtitle {
    font-size: 1.5em;
    margin-top: 0; /* Remove a margem superior */
    margin-bottom: 1px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.intro p {
    max-width: 970px;
    margin: 0 auto 20px auto;
    line-height: 1.6;
    color: #0e0907; /* Preto profundo */
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: justify;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Animação de fade */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.sobre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    background-color: #d9d9d9;
    margin-bottom: 80px;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 30px; /* Espaçamento entre a imagem e o texto */
}

.sobre-imagem {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-imagem img {
    width: 100%; /* Faz com que a imagem ocupe toda a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px;
    transition: transform 0.3s ease;
    object-fit: cover; /* Garante que a imagem se ajuste ao contêiner sem distorção */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), /* Sombra lateral direita e inferior */
                -5px -5px 15px rgba(0, 0, 0, 0.2); /* Sombra lateral esquerda e superior */
}

.sobre-imagem img:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

.sobre-texto {
    flex: 2;
    padding-left: 40px;
    text-align: justify;
}

.sobre-texto h2 {
    font-size: 2.5em;
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border: 3px solid #000;
    padding: 10px 20px;
    margin: 0 0 20px;
    background-color: #000;
    border-radius: 8px;
}

.sobre-texto p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Mantém 2 colunas */
    gap: 30px; /* Aumenta o espaço entre os cards */
    padding: 30px; /* Aumenta o padding ao redor do grid */
	
}

/* Estilos para os cards de serviço */
.service-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 10px; /* Mantendo o espaçamento interno do card */
    width: 450px; /* Aumentando a largura dos cards */
    height: 300px; /* Altura fixa para os cards */
    margin: auto; /* Centraliza os cards */
}

/* Estilos para as imagens dos cards de serviço */
.service-card img {
    width: 100%; /* Imagem ocupa toda a largura do card */
    height: 200px; /* Altura fixa para a imagem */
    object-fit: cover; /* Mantém a proporção e cobre a área definida */
    display: block;
    margin: 0 auto 10px auto; /* Centraliza a imagem e ajusta a margem inferior */
    border-bottom: 1px solid #ccc;
    border-radius: 8px;
}




/* Estilos para o conteúdo dos cards de serviço */
.service-content {
    padding: 15px;
}

/* Estilos para o título dos cards de serviço */
.service-content h2 {
    font-size: 28px; /* Aumenta o tamanho da fonte do título */
    color: #2d2c2c;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
}

/* Estilos para o parágrafo dos cards de serviço */
.service-content p {
    font-size: 18px; /* Aumenta o tamanho da fonte do parágrafo */
    color: #333;
    line-height: 1.8;
    font-family: "Montserrat", sans-serif;
}


.h1-contato{
	text-align: center; 
    font-size: 30px;
    color: #ffff; /* Preto profundo */
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Lora', serif;
    font-weight: 600;
}


.text-content {
    padding: 20px;
}

.image-content {
    background-color: #db512f;
    padding: 20px;
}

.image-content img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Estilos para o contêiner arredondado */
.rounded-container {
    background-color: #000000; /* Fundo preto para o contêiner */
    padding: 30px;
    border-radius: 15px; /* Cantos arredondados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 600px;
    width: 100%;
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
    color: #ffffff; /* Cor da fonte branca para o contêiner */
}

/* Estilos para os elementos do formulário */
.form-container form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-container form input,
.form-container form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-size: 18px;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 10px;
}

.flex-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    flex-wrap: wrap;
}



@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Estilo responsivo */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

@media (max-width: 768px) {
    .form-container,
    .map-container {
        width: 100%; 
    }
    .sobre {
        flex-direction: column;
        text-align: center;
    }

    .sobre-imagem {
        margin-bottom: 20px;
    }

    .sobre-texto {
        padding-left: 0;
    }

    .sobre-texto h2 {
        font-size: 2em;
    }

    .sobre-texto p {
        font-size: 1em;
    }
    .nav_links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #0e0907;
        position: absolute;
        top: 60px;
        left: 0;
        border-top: 1px solid #ddd;
    }
    .nav_links.active {
        display: flex;
    }
    .nav_links li {
        display: block;
        padding: 10px 0;
    }
    .nav_links li a {
        padding: 10px 0;
        font-size: 18px;
    }
    .menu-toggle {
        display: block;
    }
}

@media (max-width: 480px) {
    .intro h1 {
        font-size: 1.5em;
    }
    .service-card {
        width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 768px) {
    .service-grid {
        grid-template-columns: 1fr;
    }
}


/* css slider */
.carousel {
    position: relative;
    width: 495px; /* Largura do carrossel */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-img {
    width: 495px; /* Largura fixa */
    height: 974px; /* Altura fixa */
    border-radius: 10px;
    display: block;
}

/* Estilos para o botão */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #007bff; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none;
    padding: 10px 20px; /* Ajustando o padding para texto maior */
    cursor: pointer;
    font-size: 16px; /* Tamanho da fonte */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s;
}

.carousel-button:hover {
    background-color: #0056b3; /* Cor ao passar o mouse */
    transform: translateY(-4px); /* Efeito de elevação */
}

.carousel-button:focus {
    outline: none; /* Remove o contorno padrão */
}

/* Estilo específico para o botão "prev" e "next" */
.prev {
    left: 20px; /* Distância da borda esquerda */
}

.next {
    right: 20px; /* Distância da borda direita */
}